.image
{
    margin-left: 34px;
    height: 600px;
    width: 500px;
    margin-right:10px;
}

.image1
{
    height: 600px;
    width: 500px;
    margin-left: 50px;
    margin-bottom: 1px;
}

h1

{
    font-family: sans-serif;
    color: #b088f9;
}

h2

{
    font-family: sans-serif;
    color: #98acf8;
}

body

{
    background-color: #fcd1d1;
}

.image2
{
  height: 520px;
  width:  520px;
  margin-left:50px;
}

.image3
{
    height: 300px;
    width: 258px;
    margin-right: 5px;
    margin-top: 20px;
}

.image4
{
 height: 300px;
 width:321px;
 margin-left:50px;
 margin-top: 20px;
}

.image5

{
    height:350px;
    width: 300px;
    margin-top:20px;
    margin-left: 50px;
}

.image6

{
    height:350px;
    width:300px;
    margin-top: 20px;
    margin-left:50px;
}

.image7

{
    height: 350px;
    width:300px;
    margin-top: 20px;
    margin-left:50px;
}